
.functionalities-react-table{
  display: block;
  margin: 10px;
}

.functionalities-refresh-table{
  margin: 0 3px 0 0;
}

.functionalities-select-all-table{
  margin: 0 3px 0 0;
}

.functionalities-add-item-table{
  margin: 0 3px 0 0;
}

